{% extends "appPE/padre.html" %}
{% load static %}
{% block section_results %}
<h3 class="text-white">Resultados de la busqueda: Estamos buscando las series del director {{director}}</h3>   
{% if series %}
<ul>
    {%for s in series%}
    <li class="text-white">Nombre: {{s.nombre}} Temporadas: {{s.temporadas}} Episodios: {{s.episodios}} Año de Estreno: {{s.añoEstreno}}</li>
    <br>
    {%endfor%}
</ul>
{% else %}
<h2 class="text-white">Resultados No Encontrados</h2>
{% endif %}
{% endblock %}
}
